.alert-danger {
  background-color: var(--color-primary1);
  color: var(--color-text);
  border: 1px solid var(--color-button);
  box-shadow: 0 0 10px var(--color-button);
}

.alert .btn-close {
  color: var(--color-text);
}

.is-invalid {
  border-color: var(--color-primary1);
}
