.review-star-container.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.review-star-container {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.review-star {
  font-size: 1.5rem;
  margin: 0 2px;
}

.review-star-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  gap: 2px;
}

.review-star-container {
  cursor: pointer;
  transition: color 200ms;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0);
}

.review-star:hover {
  color: var(--color-star-hover);
}

.review-star:active {
  transform: scale(1.2);
}
