.collection-carousel {
  margin: 20px;
}

.collection-carousel h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.collection-item {
  text-align: center;
  padding: 20px;
  background-color: var(--color-background1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-thumbnails img {
  margin: 5px;
  border-radius: 4px;
}
