.comment-section {
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

Form {
  width: 30%;

}

Form Button {
  margin-top: 10px;
  background-color: var(--color-primary1) !important;
  border-radius: 25px !important;
  border: none !important;
  height: 45px;
  width: 80px;
}


.comment {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.comment strong {
  display: block;
  margin-bottom: 5px;
}

.comment p {
  margin-bottom: 5px;
}

.comment small {
  color: #777;
}

.toggle-comments-btn {
  background: none;
  border: none;
  color: var(--color-primary1);
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
}

.toggle-comments-btn:hover {
  text-decoration: underline;
}