/* Base styles */
.row {
  background-color: var(--color-background1);
  font-family: var(--font-main);
  display: flex;
  justify-content: center;
  align-items: top;
  font-weight: bold;
}

.col {
  flex: 0 0 500px;
  margin: 0 20px;
}

.left-container {
  display: flex;
  justify-content: right;
}

.right-container {
  display: flex;
  justify-content: left;
}

.login-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
  box-sizing: border-box;
}

.avatar-icon {
  width: 200px;
  height: 200px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  border: none;
  border-radius: 120px;
  height: 45px;
  padding-left: var(--input-text-padding);
  font-weight: bold;
}

.poster-container {
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  width: 657px;
  height: 712px;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.poster-container img {
  position: absolute;
  /* Absolute positioning */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn.btn-submit-login {
  background-color: var(--color-button);
  color: var(--color-text);
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 25px;
  height: 45px;
  width: 100%;
}

.btn.btn-submit-login:hover {
  background-color: var(--color-button-hover);
}

.error-message {
  color: #dc3545;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.register-text {
  color: #ffffff;
  text-align: right;
  font-size: 0.9rem;
}

.btn.btn-register {
  background-color: var(--color-button);
  color: white;
  margin-left: 20px;
  border-radius: 20px;
}

.btn.btn-register:hover {
  background-color: var(--color-button-hover);
}

/* Responsive styles */
@media (max-width: 1040px) {
  .row {
    flex-direction: column;
  }

  .col {
    margin: 10px 0;
    /* Vertical spacing between columns */
  }

  .col:last-child {
    display: none;
    /* Hide the rounded box column on smaller screens */
  }

  .left-container {
    display: flex;
    justify-content: center;
  }

  .register-text {
    margin-right: 40px;
  }
}

/* Hide rounded box if viewport height is too small */
@media (max-height: 650px) {
  .left-container {
    display: flex;
    justify-content: center;
  }

  .register-text {
    margin-right: 40px;
  }

  .col:last-child {
    display: none;
  }
}