.movie-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    
}
  
.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin-bottom: 50px;
    overflow: hidden;
}

.poster {
    width: 100%;
    height: auto;
   
   
    border-radius: 8px;
}

.details {
    padding-top: 10px;
}
  
.title {
    font-size: 1.2rem;
    font-weight: bold;
}
  
.release-date {
    font-size: 0.9rem;
    color: #666666;
}
  
.genres {
    font-size: 0.9rem;
    color: #666666;
}
  
.overview {
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.4;
}

.label {
    font-weight: bold;
}