.logo {
  width: auto;
  height: 50px;
}

.navbar-dark {
  background-color: var(--color-background1);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--color-text);
  font-family: var(--font-main);
  font-size: 16px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.navbar-dark .navbar-nav .nav-link .icon {
  font-size: 20px;
  vertical-align: middle;
  line-height: 1;
}

.btn-create {
  background-color: var(--color-button);
  color: var(--color-text);
  border: none;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn-create .icon {
  font-size: 20px;
  margin-right: 4px;
}

.btn-create:hover {
  background-color: var(--color-primary1);
  color: white;
}

.btn-login {
  background-color: var(--color-background1);
  color: var(--color-text);
  border: 1px solid var(--color-text);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn-login .icon {
  font-size: 20px;
  margin-left: 4px;
}

.btn-login:hover {
  color: white;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
}

.nav-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav-link.active {
  color: white;
  font-weight: bold;
}

/* Adaptive Views */
@media (max-width: 987px) {
  .logo {
    height: 30px;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
    margin-right: 10px;
  }

  .navbar-dark .navbar-nav .nav-link .icon {
    font-size: 18px;
  }

  .btn-create {
    padding: 4px 8px;
    font-size: 14px;
  }

  .btn-create .icon {
    font-size: 18px;
    margin-right: 3px;
  }

  .btn-login {
    padding: 4px 8px;
    font-size: 14px;
  }

  .btn-login .icon {
    font-size: 18px;
    margin-left: 3px;
  }
}

@media (max-width: 576px) {
  .logo {
    height: 25px;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 12px;
    margin-right: 5px;
  }

  .navbar-dark .navbar-nav .nav-link .icon {
    font-size: 16px;
  }

  .btn-create {
    padding: 3px 6px;
    font-size: 12px;
  }

  .btn-create .icon {
    font-size: 16px;
    margin-right: 2px;
  }

  .btn-login {
    padding: 3px 6px;
    font-size: 12px;
  }

  .btn-login .icon {
    font-size: 16px;
    margin-left: 2px;
  }
}
