.collection-detail-container {
  background-color: var(--color-background1);
  color: var(--color-text);
  text-align: center;
  padding-bottom: 20px; /* Add some padding to the bottom */
}

.collection-backdrop {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}

.horizontal-line {
  width: 100%;
  max-width: 1200px;
  height: 2px; /* Adjusted to match the image */
  background-color: var(--color-button);
  margin: 20px auto;
}

.collection-header {
  margin-bottom: 20px;
}

.collection-info {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  display: inline-block;
  text-align: left;
}

.collection-title {
  font-family: var(--font-title);
  font-size: 2.5rem; /* Slightly larger to match the image */
  font-weight: bold;
}

.collection-author {
  font-family: var(--font-main);
  font-size: 1rem;
  color: var(--color-secondary);
  display: flex;
  align-items: center;
}

.collection-author img {
  border-radius: 50%;
  margin-right: 10px;
}

.collection-description {
  font-family: var(--font-main);
  font-size: 1.1rem; /* Slightly larger */
  margin-top: 10px;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-item {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.movie-poster-container {
  position: relative;
  display: inline-block;
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-index {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: var(--color-primary1);
  color: var(--color-text);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-title);
  font-size: 1.2rem;
  font-weight: bold;
}

.movie-title {
  font-family: var(--font-main);
  font-size: 1rem;
  margin-top: 10px;
  max-width: 150px; /* Limit the width for better alignment */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center; /* Center align text */
  margin: 0 auto; /* Center the title block */
}
