.collection-detail-container {
  background-color: var(--color-background1);
  color: var(--color-text);
  text-align: center;
  padding-bottom: 20px; /* Add some padding to the bottom */
}

.collection-backdrop-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0; /* Remove bottom margin */
}

.fade-left,
.fade-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  background: linear-gradient(to right, var(--color-background1), transparent);
  z-index: 1;
}

.fade-right {
  right: 0;
  left: auto;
  background: linear-gradient(to left, var(--color-background1), transparent);
}

.horizontal-line {
  width: 100%;
  height: 2px;
  background-color: var(--color-button);
  margin: 0 auto 20px auto; /* Set margin-bottom to 20px */
}

.collection-header {
  text-align: left; /* Align text to the left */
  margin-left: 10%;
  margin-right: 10%;
}

.collection-info {
  padding: 20px;
  background-color: var(--color-background1);
  border-radius: 8px;
}

.collection-title {
  font-family: var(--font-title);
  font-size: 2.5rem; /* Slightly larger to match the image */
  font-weight: bold;
}

.collection-author {
  font-family: var(--font-main);
  font-size: 1rem;
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align to the left */
  margin-left: 7%; /* Match the left margin with collection-title */
  cursor: pointer;
  max-width: 261px;
}

.collection-author:hover {
  color: var(--color-primary1);
}

.collection-author img {
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
}

.collection-author-name {
  font-weight: 900; /* Make the author name bolder */
}

.collection-description {
  font-family: var(--font-main);
  font-size: 1.1rem; /* Slightly larger */
  margin-top: 10px;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-item {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.movie-poster-container {
  position: relative;
  display: inline-block;
}

.movie-poster {
  width: 200px; /* Smaller size */
  height: auto;
  border-radius: 8px;
}

.movie-index {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: var(--color-primary1);
  color: var(--color-text);
  border-radius: 50%;
  width: 24px; /* Smaller size */
  height: 24px; /* Smaller size */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-title);
  font-size: 1rem; /* Smaller size */
  font-weight: bold;
}

.movie-title {
  font-family: var(--font-main);
  font-size: 1rem;
  margin-top: 10px;
}
