.logo {
  width: 150px;
}

.navbar-dark {
  background-color: var(--color-background1);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--color-text);
  font-family: var(--font-main);
  font-size: 16px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.navbar-dark .navbar-nav .nav-link .icon {
  font-size: 20px;
  vertical-align: middle;
  line-height: 1;
}

.btn-create {
  background-color: var(--color-button);
  color: var(--color-text);
  border: none;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-create .icon {
  font-size: 20px;
  margin-right: 4px;
}

.btn-create:hover {
  background-color: var(--color-primary1);
  color: white;
}

.navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link.active {
  color: white;
  font-weight: bold;
}

@media (max-width: var(--breakpoint-lg)) {
  .navbar-brand img {
    width: 120px;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
    margin-right: 15px;
  }

  .navbar-dark .navbar-nav .nav-link .icon {
    font-size: 18px;
  }

  .btn-create {
    padding: 4px 8px;
    font-size: 14px;
  }

  .btn-create .icon {
    font-size: 18px;
    margin-right: 3px;
  }
}

@media (max-width: var(--breakpoint-md)) {
  .navbar-brand img {
    width: 100px;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 12px;
    margin-right: 10px;
  }

  .navbar-dark .navbar-nav .nav-link .icon {
    font-size: 16px;
  }

  .btn-create {
    padding: 3px 6px;
    font-size: 12px;
  }

  .btn-create .icon {
    font-size: 16px;
    margin-right: 2px;
  }
}

@media (max-width: var(--breakpoint-sm)) {
  .navbar-brand img {
    width: 80px;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 10px;
    margin-right: 5px;
  }

  .navbar-dark .navbar-nav .nav-link .icon {
    font-size: 14px;
  }

  .btn-create {
    padding: 2px 4px;
    font-size: 10px;
  }

  .btn-create .icon {
    font-size: 14px;
    margin-right: 1px;
  }
}
