body {
    background-color: var(--color-background1);
    color: var(--color-text);
    font: var(--font-main);
}

.review-backdrop-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0; /* Remove bottom margin */
}
  
.fade-left,
.fade-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(to right, var(--color-background1), transparent);
    z-index: 1;
}
  
.fade-right {
    right: 0;
    left: auto;
    background: linear-gradient(to left, var(--color-background1), transparent);
}

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: var(--color-button);
    margin: 0 auto 20px auto; /* Set margin-bottom to 20px */
}

.review-detail-header {
    margin:20px;
}

.movie-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie-title {
    font-weight: bold;
    font-size: 2em;
}

.release-year {
    color: darkgray;
    font-size: 1.5em;
    margin-left: 10px;
}

.star-rating {
    flex-grow: 1;
    text-align: right;
    font-size: 1.5em;
    margin-top: 5px;
}

.review-author-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
  
.review-author {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.review-author img {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
  
.review-author-name {
    font-weight: 900; /* Make the author name bolder */
}

.review-date {
    margin-left: 10px;
    color: gray;
}

.review-watched {
    color: gray;
}

.review-text {
    margin-top: 10px;
    font-size: 1.2em;
    line-height: 1.5;
}

.review-separator-line {
    border-top: 1px solid white;
    margin: 5px auto 30px auto;
    width: 80%;
}

