:root {
  --font-title: 'Montserrat', sans-serif;
  --font-main: 'Montserrat', sans-serif;

  --color-primary1: #800000;
  --color-background1: #050606;
  --color-button: #800000;
  --color-button-hover: #a00000;
  --color-text: #e5e5e5;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --input-text-padding: 15px;
}

body,
html {
  font-family: var(--font-main);
  background-color: var(--color-background1);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}